/* Font Weight Styles */
.ibm-plex-sans-thin { font-family: "IBM Plex Sans", sans-serif; font-weight: 100; font-style: normal; }
.ibm-plex-sans-extralight { font-family: "IBM Plex Sans", sans-serif; font-weight: 200; font-style: normal; }
.ibm-plex-sans-light { font-family: "IBM Plex Sans", sans-serif; font-weight: 300; font-style: normal; }
.ibm-plex-sans-regular { font-family: "IBM Plex Sans", sans-serif; font-weight: 400; font-style: normal; }
.ibm-plex-sans-medium { font-family: "IBM Plex Sans", sans-serif; font-weight: 500; font-style: normal; }
.ibm-plex-sans-semibold { font-family: "IBM Plex Sans", sans-serif; font-weight: 600; font-style: normal; }
.ibm-plex-sans-bold { font-family: "IBM Plex Sans", sans-serif; font-weight: 700; font-style: normal; }

.ibm-plex-sans-thin-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 100; font-style: italic; }
.ibm-plex-sans-extralight-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 200; font-style: italic; }
.ibm-plex-sans-light-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 300; font-style: italic; }
.ibm-plex-sans-regular-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 400; font-style: italic; }
.ibm-plex-sans-medium-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 500; font-style: italic; }
.ibm-plex-sans-semibold-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 600; font-style: italic; }
.ibm-plex-sans-bold-italic { font-family: "IBM Plex Sans", sans-serif; font-weight: 700; font-style: italic; }

/* Global Font Style */
html {
    font-family: "IBM Plex Sans" !important;
}

#date-picker {
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #9da4ae !important;
}

/* Datepicker Open Button */
.datepicker-open-button {
    border-radius: 20%;
    margin-left: 0.2rem !important;
    padding: 8px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}

.datepicker-button {
    background-color: unset !important;
}

.datepicker-button:hover {
    background-color: #723DC2 !important;
}

.datepicker-button:hover svg path {
    fill: white;
}

/* Modal Styling */
.modal.fade {
    display: block;
    position: relative;
    max-width: 471px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}

/* Calendar Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.calendar-header select {
    border: none;
    font-size: 1rem;
    color: #333;
    margin-right: unset !important;
}

.calendar-header .btn {
    cursor: pointer;
    color: #333;
    background: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem;
    border: 1px solid #19184e !important;
}

.calendar-header .btn:hover {
    background: #723DC2;
    border: unset;
    color: white !important;
}

/* Weekdays */
.calendar-body .row:first-of-type .col {
    font-size: 0.9rem;
    color: #9e9e9e;
    font-weight: 600;
}

/* Calendar Table */
.calendar-table {
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    padding-top: 10px;
}

.table-borderless > :not(caption) > * > * {
    padding: unset !important;
}

/* Calendar Cells */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100%;
    color: #333 !important;
    transition: background-color 0.2s, color 0.2s;
}

.cell button {
    color: black !important;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: background-color 0.2s;
}

.cell button:hover {
    color: #fff !important;
    background-color: #19184E !important;
}

.cell button:active,
.cell button:focus,
.cell button:focus-visible {
    background-color: #19184E;
    color: white !important;
    border: none !important;
    box-shadow: none;
}

/* Today Cell Styling */
.cell.today button {
    width: 40px;
    height: 40px;
    border: 1px solid #723DC2 !important;
    border-radius: 100%;
    background: unset;
    color: #723DC2 !important;
    font-weight: 700;
}

.cell.today button:hover {
    background-color: #723DC2;
    color: white !important;
    border: none !important;
}
.cell.today:hover {
    color: white !important;
    border: none !important;
}

.cell.today button:active,
.cell.today button:focus-visible {
    width: 40px;
    height: 40px;
    border: 1px solid #723DC2 !important;
    color: #723DC2 !important;
    background: unset;
    font-weight: 700;
}

/* Placeholder Text */
input[data-datepicker="true"]::placeholder {
    color: #757575;
    font-size: 1rem;
}

/* Disabled Dates */
.cell.disabled {
    color: #bdbdbd;
    pointer-events: none;
    cursor: default !important;
}

.row {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

.table-responsive {
    overflow: hidden;
}

/* Responsive Styles */
@media screen and (max-width: 410px) {
    .table {
        width: 96% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .d-flex{
        width: 100%;
        flex-wrap: wrap !important;
        justify-content: space-around;
    }
    .mb-2{
        width: 100%;
    }
    .calendar-header .btn{
        width: 100%;
    }
    
}

/* Secondary Button Styles */
.btn-secondary {
    margin-left: auto !important ;
    display: block;
    background-color: #3C878B !important;
    border: unset !important;
}

.btn-secondary:hover {
    background-color: #2D6568 !important;
}

.btn-secondary:focus{
    box-shadow: unset !important;
}

.btn-secondary:focus-visible{
    box-shadow: unset !important;
}

/* General Button Styles */
.btn {
    background-color: white;
    border: 1px solid #723DC2;
}

button:hover {
    background-color: #19184E !important;
}

button:focus {
    background-color: unset;
    box-shadow: unset;
    color: black;
}

/* Dropdowns Focus Styles */
.form-select {
    width: unset !important;
}

.month-select:focus-visible,
.year-select:focus-visible {
    box-shadow: none !important;
}


.btn.btn-link.focused.selected {

    color: #FFF !important;
    background-color: #19184E;
    border: unset !important
    
}
